.theme-light {
    --color-background: #ffffff;
    --color-header: #2f2f2f;
    --color-timestamp: #4f4f4f;
    --color-notation: #f2f2f2;
    --color-post-text: #bfbfbf;
    --color-post-button: #515151;
    --color-text: #000000;
}

.theme-dark {
    --color-background: #111;
    --color-header: #aaa;
    --color-timestamp: #eaeaea;
    --color-notation: #222;
    --color-post-text: #5e5e5e;
    --color-post-button: #eaeaea;
    --color-text: #eaeaea;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1;
}

p {
    margin: 0;
    color: var(--color-text);
}

button {
    min-width: 0px;
    border-width: 0;
    border-radius: 0;
    padding: 0.5rem;
    background-color: var(--color-notation);
    color: var(--color-text);
}

input[type=text] {
    font-family: 'Oswald', sans-serif;
    width: 4rem;
    border-radius: 0;
    border-width: 0;
    padding: 1rem;
    background-color: var(--color-post-text);
    color: var(--color-post-button);
}

.header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: var(--color-header);
}

.header a {
    color: var(--color-header);
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: var(--color-background);
}

.player-container {
    flex-flow: column !important;
}

#player {
    width: 100vw;
    height: 100vw;
    flex-shrink: 0;
}

.notation-wrapper {
    flex-grow: 1;
}

.combo-input {
    display: flex;
    margin: 1rem;
}

#combo-text {
    flex: 1 2 0px;
}

.create {
    width: 20vw;
}

.made-with-heart a {
    font-weight: bold;
    align-self: flex-end;
}

.heart {
    font-size: larger;
}

*:focus {
    outline: none;
}

@media only screen and (orientation: landscape) {
    .player-container {
        flex-flow: row !important;
    }

    #player {
        width: 100vh;
        height: 100vh;
    }

    .notation-wrapper {
        height: 100vh;
    }
}