.notation-wrapper {
    overflow-y: scroll;
}

.notation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notations .header {
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--color-header);
}

#notations .notation {
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--color-notation);
    margin-top: 0.5rem;
}

#notations .timestamp {
    color: var(--color-timestamp);
    font-weight: 900;
    margin-bottom: 0.5rem;
}
