.notation-wrapper {
    overflow-y: scroll;
}

.notation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notations .header {
    margin: 1rem;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#notations .notation {
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--color-notation);
    margin-top: 0.5rem;
    cursor: pointer;
}

#notations .timestamp {
    color: var(--color-timestamp);
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.post {
    font-family: 'Oswald', sans-serif;
    width: 4rem;
    border-radius: 0;
    border-width: 0;
    background-color: var(--color-post-text);
    color: var(--color-post-button);
}